body {
  width: 100%;
}
nav {
  padding: 20px;
}
div.form-wrapper {
  width: 100%;
}
form {
  margin: 0px auto;
}
h5.display-4 {
  font-size: 2rem;
}
#signout {
  display: inline-block;
  margin-left: 29%;
}
.dropleft .dropdown-toggle::before {
  content: none;
}
ul.navbar-nav {
  flex-direction: row;
}
ul.navbar-nav > li {
  padding: 0px 10px;
}
ul.navbar-nav > li:hover {
  background-color: rgba(0, 0, 0, 0.144);
}
#chatLoader > a {
  pointer-events: none;
}
#createPost {
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
}
i#delete:hover {
  color: #dc3545;
  background-color: white;
}
.chats {
  flex-direction: column;
  width: 60%;
  margin: 0px auto;
  height: 85vh;
  background-color: lightslategray;
  padding: 10px;
  overflow: scroll;
}
.sent,
.received {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
div.received {
  float: left;
  clear: both;
  margin-right: auto;
  background-color: lightblue;
}
div.sent {
  clear: both;
  float: right;
  margin-left: auto;
  background-color: rgb(221, 221, 204);
}
#sendMessage input {
  width: 70%;
}
@media only screen and (max-width: 576px) {
  #switchToLogin,
  #switchToSignup {
    clear: both;
    float: left;
    transform: translateY(-15px);
  }
  span.form-text.text-muted {
    transform: translateY(-7px);
  }
}
