body {
  width: 100%;
}
nav {
  padding: 20px;
}
div.form-wrapper {
  width: 100%;
}
form {
  margin: 0px auto;
}
h5.display-4 {
  font-size: 2rem;
}
#signout {
  display: inline-block;
  margin-left: 29%;
}
.dropleft .dropdown-toggle::before {
  content: none;
}
ul.navbar-nav {
  flex-direction: row;
}
ul.navbar-nav > li {
  padding: 0px 10px;
}
ul.navbar-nav > li:hover {
  background-color: rgba(0, 0, 0, 0.144);
}
#chatLoader > a {
  pointer-events: none;
}
#createPost {
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
}
i#delete:hover {
  color: #dc3545;
  background-color: white;
}
@media only screen and (max-width: 576px) {
  #switchToLogin,
  #switchToSignup {
    clear: both;
    float: left;
    transform: translateY(-15px);
  }
  span.form-text.text-muted {
    transform: translateY(-7px);
  }
}
